.swiftpm/xcode/package.xcworkspace/xcuserdata/justinwhite.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/justinwhite.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
xcschememanagement.plist
